nav{
    background-color: rgb(6, 6, 18);
    color: white;
}



.red{
    color: rgba(255, 17, 0, 0.338);
    background-color: rgba(0, 255, 255, 0.45);

}
*{
    margin: 0;
    padding: 0;
    
}
body{
   
}

.cont{
    background-color: rgb(111, 111, 236);
    color: rgb(28, 13, 13);
    /* background-image: url('Akshay.jfif');
    background-repeat: no-repeat;
    background-size: 63px  67px; */
    width: 755px;
    height : 950px;
    /* background-position: top center;
    background-attachment: fixed; */
    background: grey url('Akshay.jfif') no-repeat scroll top center;
    
}